//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/components/map/map.css')
//-     script(src='/components/map/api.js' defer)
//-     script(
//-       async
//-       defer
//-       src=`https://maps.googleapis.com/maps/api/js?key=${googleMapsApiKey}&callback=initMap&loading=async&v=beta&libraries=marker`
//-     )
//-   body
//-     block content